body {
  margin: 0;
  padding-top: 100px;
  /* background-color: #f2ebe9; */
  /* font-family: "Mulish", sans-serif; */
  font-family: "B612", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}
